DocQA_GUI {
    background-color: #010b19;
}

QWidget {
    border: 2px solid #010b19;
    border: none;
}

QPushButton {
    background-color: #011627;
    color: #7dfdfe;
    font: 10pt "Segoe UI Historic";
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
    border: 1px solid transparent;
}

QPushButton:hover {
    background-color: #00ffff;
    border: 1px solid #7dfdfe;
    color: #010b19;
}

QLabel {
    color: #7dfdfe;
}

QComboBox {
    background-color: #011627;
    color: #7dfdfe;
    border: 1px solid #011627;
    border-radius: 5px;
    padding: 3px;
}

QComboBox:hover,
QComboBox:focus {
    border: 1px solid #00ffff;
}

QComboBox QAbstractItemView {
    background-color: #011627;
    color: #7dfdfe;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #00ffff;
    color: #010b19;
}

QRadioButton {
    color: #7dfdfe;
}

QLineEdit {
    background-color: #010b19;
    color: #7dfdfe;
    border: 1px solid transparent;
    padding: 3px;
}

QLineEdit:hover,
QLineEdit:focus {
    border: 1px solid #00ffff;
}

QLineEdit::placeholder {
    color: #405c7d;
}

QGroupBox {
    border: 1px solid #00ffff;
    color: #7dfdfe;
    font-size: 12pt;
    padding: 10px;
}

DownloadModelDialog {
    background-color: #010b19;
}

QFrame {
    background-color: #010b19;
}

QTextEdit[readOnly="true"] {
    background-color: #011627;
    color: #7dfdfe;
    border: 1px solid #00ffff;
    selection-background-color: #00ffff;
    selection-color: #010b19;
    font: 14pt "Segoe UI Historic";
}

QTextEdit[readOnly="false"] {
    background-color: #011627;
    color: #7dfdfe;
    border: 1px solid #00ffff;
    selection-background-color: #00ffff;
    selection-color: #010b19;
    font: 14pt "Segoe UI Historic";
}

QTabWidget {
    background-color: #010b19;
    border: none;
}

QTabBar::tab {
    background-color: #011627;
    color: #7dfdfe;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 3px;
    padding: 5px 5px;
}

QTabBar::tab:selected {
    background-color: #00ffff;
    color: #010b19;
    border-bottom: 3px solid #7dfdfe;
}

QTabBar::tab:hover {
    background-color: #405c7d;
}

QSplitter::handle {
    background-color: #00ffff;
    height: 5px;
}

QTreeView {
    color: #7dfdfe;
}

QHeaderView::section {
    background-color: #011627;
    color: #7dfdfe;
}

QMenuBar {
    color: #7dfdfe;
}

QMenuBar::item:selected {
    background: #00ffff;
    color: #010b19;
}

QCheckBox {
    color: #7dfdfe;
}

QAbstractItemView::item:hover {
    background-color: #00ffff;
    color: #010b19;
}

QMessageBox {
    background-color: #010b19;
}

QMessageBox QLabel {
    color: #7dfdfe;
}

QMessageBox QPushButton {
    background-color: #011627;
    color: #7dfdfe;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

QMessageBox QPushButton:hover,
QMessageBox QPushButton:pressed {
    background-color: #00ffff;
    color: #010b19;
}
QInputDialog {
    background-color: #010b19;
}

QInputDialog QLabel {
    color: #7dfdfe;
}

QInputDialog QComboBox {
    background-color: #011627;
    color: #7dfdfe;
    border: 1px solid #011627;
    border-radius: 5px;
    padding: 3px;
}

QInputDialog QComboBox:hover {
    background-color: #00ffff;
    border: 1px solid #7dfdfe;
    color: #010b19;
}

QInputDialog QPushButton {
    background-color: #011627;
    color: #7dfdfe;
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
    border: none;
}

QInputDialog QPushButton:hover {
    background-color: #00ffff;
    color: #010b19;
}

QDialog {
    background-color: #010b19;
}

QDialog QLabel {
    color: #7dfdfe;
}

QDialog QLineEdit {
    background-color: #010b19;
    color: #7dfdfe;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
}

QDialog QLineEdit:hover,
QDialog QLineEdit:focus {
    border: 1px solid #00ffff;
}

QDialog QDialogButtonBox QPushButton {
    background-color: #011627;
    color: #7dfdfe;
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
    border: none;
}

QDialog QDialogButtonBox QPushButton:hover {
    background-color: #00ffff;
    color: #010b19;
}