DocQA_GUI {
    background-color: #161b22;
}

QWidget {
    border: 2px solid #161b22;
    border: none;
}

QPushButton {
    background-color: #4a5a6a;
    color: white;
    font: 10pt "Segoe UI Historic";
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
}

QPushButton:hover {
    background-color: #2b3c47;
    border: 1px solid #7a8c99;
    color: white;
}

QGroupBox {
    border: 2px solid #1b2e38;
}

QLabel {
    color: #346b7b;
}

QComboBox {
    background-color: #4a5a6a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

QComboBox QAbstractItemView {
    background-color: #4a5a6a;
    color: white;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #a2b2bc;
    color: white;
}

QLineEdit {
    background-color: #161b22;
    color: #3d4e5a;
    border: none;
    padding: 3px;
}

QLineEdit::placeholder {
    color: #5b6e7a;
}

QGroupBox {
    color: #346b7b;
    font-size: 12pt;
    padding: 10px;
}

DownloadModelDialog {
    background-color: #161b22;
}

QFrame {
    background-color: #161b22;
}

QTextEdit[readOnly="true"] {
    background-color: #1b2e38;
    color: #346b7b;
    border: 1px solid #3d4e5a;
    selection-background-color: #7a8c99;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTextEdit[readOnly="false"] {
    background-color: #3d4e5a;
    color: #346b7b;
    border: 1px solid #3d4e5a;
    selection-background-color: #7a8c99;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTabWidget {
    background-color: #161b22;
    border: none;
}

QTabWidget, QTabWidget::pane {
    margin: 0px;
    padding: 0px;
    border: none;
}

QTabBar::tab {
    background-color: #5b6e7a;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 3px;
    padding: 5px 5px;
}

QTabBar::tab:selected {
    background-color: #7a8c99;
    border-bottom: 3px solid #a2b2bc;
}

QTabBar::tab:hover {
    background-color: #6f828f;
}

QSplitter::handle {
    background-color: #1e1e1
