/* Style for the main GUI background */
DocQA_GUI {
    background-color: #1a1d29; /* Dark purple for the main background */
}

/* Style for all QWidget elements */
QWidget {
    border: 2px solid #2c2f3e; /* Slightly lighter purple for widget borders */
    border: none;
}

/* Style for QPushButton */
QPushButton {
    background-color: #323842; /* Subtle dark grey for buttons */
    color: white;
    font: 10pt "Segoe UI Historic";
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
}

/* Style for QPushButton when hovered */
QPushButton:hover {
    background-color: #3a3f4f; /* Dark purple for button hover */
    border: 1px solid #555;
    color: white;
}

/* Style for the main border of QGroupBox */
QGroupBox {
    border: 2px solid #3a3e4b; /* Dark purple for group box border */
}

/* Style for QLabel text color */
QLabel {
    color: white;
}

/* Style for QComboBox when not dropped down */
QComboBox {
    background-color: #323842; /* Same as QPushButton */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

/* Style for QComboBox items when dropped down */
QComboBox QAbstractItemView {
    background-color: #323842; /* Same as QPushButton */
    color: white;
}

/* Style for QComboBox items when hovered over */
QComboBox QAbstractItemView::item:hover {
    background-color: #a34f6f; /* Dark pink for combo box hover */
    color: white;
}

QLineEdit {
    background-color: #1a1d29; /* Same as main background */
    color: white;
    border: none;
    padding: 3px;
}

QLineEdit::placeholder {
    color: #969686; /* Subtle grey for placeholder text */
}

QGroupBox {
    color: white;
    font-size: 12pt;
    padding: 10px;
}

DownloadModelDialog {
    background-color: #1a1d29; /* Same as main background */
}

/* Style for QFrame */
QFrame {
    background-color: #1a1d29; /* Same as main background */
}

/* Style for read-only text areas (QTextEdit) */
QTextEdit[readOnly="true"] {
    background-color: #252836; /* Darker purple for read-only areas */
    color: white;
    border: 1px solid #2e333b;
    selection-background-color: #555;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

/* Style for text areas (QTextEdit) when readOnly is set to false */
QTextEdit[readOnly="false"] {
    background-color: #2e333b; /* Slightly lighter */
    color: white;
    border: 1px solid #2e333b;
    selection-background-color: #555;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTabWidget {
    background-color: #1a1d29; /* Same as main background */
    border: none;
}

QTabWidget, QTabWidget::pane {
    margin: 0px;
    padding: 0px;
    border: none;
}

/* Style for all QTabWidget tabs */
QTabBar::tab {
    background-color: #4b4b4b; /* Grey for tab background */
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 3px;
    padding: 5px 5px;
}

/* Style for the currently selected tab */
QTabBar::tab:selected {
    background-color: #555; /* Slightly lighter grey for selected tab */
    border-bottom: 3px solid #038387;
}

/* Style for the tab when hovering */
QTabBar::tab:hover {
    background-color: #666; /* Light grey for tab hover */
}

QSplitter::handle {
    background-color: #1e1e1e; /* Dark color for splitter handle */
    height: 5px;
}
