DocQA_GUI {
    background-color: #161b22;
}

QWidget {
    border: 2px solid #161b22;
    border: none;
}

QPushButton {
    background-color: #2d3c47;
    color: white;
    font: 10pt "Segoe UI Historic";
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
}

QPushButton:hover {
    background-color: #232b3c;
    border: 1px solid #4f5a77;
    color: white;
}

QGroupBox {
    border: 2px solid #1b2230;
}

QLabel {
    color: white;
}

QComboBox {
    background-color: #2d3c47;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

QComboBox QAbstractItemView {
    background-color: #2d3c47;
    color: white;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #23476b;
    color: white;
}

QRadioButton {
    color: white;
}

QLineEdit {
    background-color: #161b22;
    color: white;
    border: none;
    padding: 3px;
}

QLineEdit::placeholder {
    color: #89a2a2;
}

QGroupBox {
    color: white;
    font-size: 12pt;
    padding: 10px;
}

DownloadModelDialog {
    background-color: #161b22;
}

QFrame {
    background-color: #161b22;
}

QTextEdit[readOnly="true"] {
    background-color: #1b2230;
    color: white;
    border: 1px solid #3d434c;
    selection-background-color: #4f5a77;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTextEdit[readOnly="false"] {
    background-color: #3d434c;
    color: white;
    border: 1px solid #3d434c;
    selection-background-color: #4f5a77;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTabWidget {
    background-color: #161b22;
    border: none;
}

QTabWidget, QTabWidget::pane {
    margin: 0px;
    padding: 0px;
    border: none;
}

QTabBar::tab {
    background-color: #4b5664;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 3px;
    padding: 5px 5px;
}

QTabBar::tab:selected {
    background-color: #4f5a77;
    border-bottom: 3px solid #23476b;
}

QTabBar::tab:hover {
    background-color: #60687f;
}

QSplitter::handle {
    background-color: #1e1e1e;
    height: 5px;
}

QTreeView {
    color: white;
}

QHeaderView::section {
    background-color: #272a2e;
    color: white;
}

QMenuBar {
    color: white;
}

QMenuBar::item {
    background: transparent;
}

QMenuBar::item:selected {
    background: #39424e;
}

QCheckBox {
    color: white;
}

QMessageBox {
    background-color: #1e1e1e;
}

QMessageBox QLabel {
    color: white;
}

QMessageBox QPushButton {
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

QMessageBox QPushButton:hover, QMessageBox QPushButton:pressed {
    background-color: #2f343f;
}
