DocQA_GUI {
    background-color: #1E2A3A;
}
QWidget {
    border: 2px solid #1E2A3A;
    border: none;
}
QPushButton {
    background-color: #34495E;
    color: #ECF0F1;
    font: 10pt "Segoe UI Historic";
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
    border: 1px solid transparent;
}
QPushButton:hover {
    background-color: #2C3E50;
    border: 1px solid #7F8C8D;
    color: #ECF0F1;
}
QLabel {
    color: #ECF0F1;
}
QRadioButton {
    color: #ECF0F1;
}
QComboBox {
    background-color: #34495E;
    color: #ECF0F1;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #2C3E50;
}
QComboBox:hover,
QComboBox:focus {
    border: 1px solid #7F8C8D;
}
QComboBox QAbstractItemView {
    background-color: #2C3E50;
    color: #ECF0F1;
}
QComboBox QAbstractItemView::item:hover {
    background-color: #34495E;
    color: #ECF0F1;
}
QLineEdit {
    background-color: #1E2A3A;
    color: #ECF0F1;
    border: 1px solid transparent;
    padding: 3px;
}
QLineEdit:hover,
QLineEdit:focus {
    border: 1px solid #7F8C8D;
}
QLineEdit::placeholder {
    color: #95A5A6;
}
QGroupBox {
    border: 1px solid #34495E;
    color: #ECF0F1;
    font-size: 12pt;
    padding: 10px;
}
DownloadModelDialog {
    background-color: #1E2A3A;
}
QFrame {
    background-color: #1E2A3A;
}
QTextEdit[readOnly="true"] {
    background-color: #2C3E50;
    color: #ECF0F1;
    border: 1px solid #34495E;
    selection-background-color: #4A6377;
    selection-color: #ECF0F1;
    font: 14pt "Segoe UI Historic";
}
QTextEdit[readOnly="false"] {
    background-color: #34495E;
    color: #ECF0F1;
    border: 1px solid #34495E;
    selection-background-color: #4A6377;
    selection-color: #ECF0F1;
    font: 14pt "Segoe UI Historic";
}
QTabWidget {
    background-color: #1E2A3A;
    border: none;
}
QTabWidget, QTabWidget::pane {
    margin: 0px;
    padding: 0px;
    border: none;
}
QTabBar::tab {
    background-color: #34495E;
    color: #ECF0F1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 3px;
    padding: 5px 5px;
}
QTabBar::tab:selected {
    background-color: #2C3E50;
    border-bottom: 3px solid #7F8C8D;
}
QTabBar::tab:hover {
    background-color: #4A6377;
}
QSplitter::handle {
    background-color: #2C3E50;
    height: 5px;
}
QTreeView {
    color: #ECF0F1;
}
QHeaderView::section {
    background-color: #34495E;
    color: #ECF0F1;
}
QMenuBar {
    color: #ECF0F1;
}
QMenuBar::item {
    background: transparent;
}
QMenuBar::item:selected {
    background: #2C3E50;
}
QCheckBox {
    color: #ECF0F1;
}
QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:checked:hover {
    border: 1px solid #7F8C8D;
}
QAbstractItemView::item:hover {
    background-color: #2C3E50;
    color: #ECF0F1;
}
QMessageBox {
    background-color: #1E2A3A;
}
QMessageBox QLabel {
    color: #ECF0F1;
}
QMessageBox QPushButton {
    background-color: #34495E;
    color: #ECF0F1;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
QMessageBox QPushButton:hover, QMessageBox QPushButton:pressed {
    background-color: #2C3E50;
}