DocQA_GUI {
    background-color: #2D2D2D;
}

QWidget {
    border: 2px solid #2D2D2D;
    border: none;
}

QPushButton {
    background-color: #4E4E4E;
    color: white;
    font: 10pt "Segoe UI Historic";
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
}

QPushButton:hover {
    background-color: #626262;
    border: 1px solid #7E7E7E;
    color: white;
}

QGroupBox {
    border: 2px solid #424242;
}

QLabel {
    color: #A0A0A0;
}

QComboBox {
    background-color: #4E4E4E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

QComboBox QAbstractItemView {
    background-color: #4E4E4E;
    color: white;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #8C8C8C;
    color: white;
}

QLineEdit {
    background-color: #2D2D2D;
    color: #A0A0A0;
    border: none;
    padding: 3px;
}

QLineEdit::placeholder {
    color: #7E7E7E;
}

QGroupBox {
    color: white;
    font-size: 12pt;
    padding: 10px;
}

QRadioButton {
    color: white;
}

DownloadModelDialog {
    background-color: #2D2D2D;
}

QFrame {
    background-color: #2D2D2D;
}

QTextEdit[readOnly="true"] {
    background-color: #383838;
    color: #A0A0A0;
    border: 1px solid #424242;
    selection-background-color: #626262;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTextEdit[readOnly="false"] {
    background-color: #383838;
    color: white;
    border: 1px solid #424242;
    selection-background-color: #626262;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTabWidget {
    background-color: #2D2D2D;
    border: none;
}

QTabWidget, QTabWidget::pane {
    margin: 0px;
    padding: 0px;
    border: none;
}

QTabBar::tab {
    background-color: #4E4E4E;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 3px;
    padding: 5px 5px;
}

QTabBar::tab:selected {
    background-color: #626262;
    border-bottom: 3px solid #8C8C8C;
}

QTabBar::tab:hover {
    background-color: #7E7E7E;
}

QSplitter::handle {
    background-color: #2D2D2D;
    height: 5px;
}

QTreeView {
    color: white;
}

QHeaderView::section {
    background-color: #272a2e;
    color: white;
}

QMenuBar {
    color: white;
}

QMenuBar::item {
    background: transparent;
}

QMenuBar::item:selected {
    background: #39424e;
}

QCheckBox {
    color: white;
}

QMessageBox {
    background-color: #1e1e1e;
}

QMessageBox QLabel {
    color: white;
}

QMessageBox QPushButton {
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

QMessageBox QPushButton:hover, QMessageBox QPushButton:pressed {
    background-color: #2f343f;
}
