DocQA_GUI {
    background-color: #1a1d29;
}

QWidget {
    border: 2px solid #2c2f3e;
    border: none;
}

QPushButton {
    background-color: #323842;
    color: white;
    font: 10pt "Segoe UI Historic";
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
}

QPushButton:hover {
    background-color: #3a3f4f;
    border: 1px solid #555;
    color: white;
}

QLabel {
    color: white;
}

QComboBox {
    background-color: #323842;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

QComboBox QAbstractItemView {
    background-color: #323842;
    color: white;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #a34f6f;
    color: white;
}

QRadioButton {
    color: white;
}

QLineEdit {
    background-color: #1a1d29;
    color: white;
    border: none;
    padding: 3px;
}

QLineEdit::placeholder {
    color: #969686;
}

QGroupBox {
    border: 2px solid #3a3e4b;
	color: white;
    font-size: 12pt;
    padding: 10px;
}

DownloadModelDialog {
    background-color: #1a1d29;
}

QFrame {
    background-color: #1a1d29;
}

QTextEdit[readOnly="true"] {
    background-color: #252836;
    color: white;
    border: 1px solid #2e333b;
    selection-background-color: #555;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTextEdit[readOnly="false"] {
    background-color: #2e333b;
    color: white;
    border: 1px solid #2e333b;
    selection-background-color: #555;
    selection-color: white;
    font: 14pt "Segoe UI Historic";
}

QTabWidget {
    background-color: #1a1d29;
    border: none;
}

QTabWidget, QTabWidget::pane {
    margin: 0px;
    padding: 0px;
    border: none;
}

QTabBar::tab {
    background-color: #4b4b4b;
    color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 3px;
    padding: 5px 5px;
}

QTabBar::tab:selected {
    background-color: #555;
    border-bottom: 3px solid #038387;
}

QTabBar::tab:hover {
    background-color: #666;
}

QSplitter::handle {
    background-color: #1e1e1e;
    height: 5px;
}

QTreeView {
    color: white;
}

QHeaderView::section {
    background-color: #272a2e;
    color: white;
}

QMenuBar {
    color: white;
}

QMenuBar::item {
    background: transparent;
}

QMenuBar::item:selected {
    background: #39424e;
}

QCheckBox {
    color: white;
}

QMessageBox {
    background-color: #1e1e1e;
}

QMessageBox QLabel {
    color: white;
}

QMessageBox QPushButton {
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

QMessageBox QPushButton:hover, QMessageBox QPushButton:pressed {
    background-color: #2f343f;
}
