DocQA_GUI {
  background-color: #1e1e1e;
}
QWidget {
  border: 2px solid #1e1e1e;
  border: none;
}
QPushButton {
  background-color: #263238;
  color: #d2d2d2;
  font: 10pt "Segoe UI Historic";
  border-radius: 5px;
  padding: 5px;
  min-width: 60px;
  border: 1px solid transparent;
}
QPushButton:hover {
  background-color: #2F4F4F;
  border: 1px solid #6c757d;
  color: #d2d2d2;
}
QLabel {
  color: #d2d2d2;
}
QComboBox {
  background-color: #263238;
  color: #d2d2d2;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  padding: 3px;
}
QComboBox:hover,
QComboBox:focus {
  background-color: #2F4F4F;
  color: #d2d2d2;
  border: 1px solid #1e1e1e;
}
QComboBox QAbstractItemView {
  background-color: #161b22;
  color: #d2d2d2;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
}
QComboBox QAbstractItemView::item:hover {
  background-color: #006064;
  color: #d2d2d2;
}
QLineEdit {
  background-color: #1e1e1e;
  color: #a8beb5;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px;
}
QLineEdit:hover,
QLineEdit:focus {
  border: 1px solid #6c757d;
}
QLineEdit::placeholder {
  color: #d67373;
}
QRadioButton {
  color: #d2d2d2;
}
QGroupBox {
  border: 1px solid #161b22;
  border-radius: 5px;
  color: #d2d2d2;
  font-size: 12pt;
  padding: 10px;
}
DownloadModelDialog {
  background-color: #1e1e1e;
}
QFrame {
  background-color: #1e1e1e;
}
QTextEdit[readOnly="true"] {
  background-color: #161b22;
  color: #d2d2d2;
  border: 1px solid #263238;
  border-radius: 5px;
  selection-background-color: #69a9d4;
  selection-color: black;
  font: 14pt "Segoe UI Historic";
}
QTextEdit[readOnly="false"] {
  background-color: #161b22;
  color: #d2d2d2;
  border: 1px solid #263238;
  border-radius: 5px;
  selection-background-color: #69a9d4;
  selection-color: black;
  font: 14pt "Segoe UI Historic";
}
QTabWidget {
  background-color: #1e1e1e;
  border: none;
}
QTabWidget, QTabWidget::pane {
  margin: 0px;
  padding: 0px;
  border: none;
}
QTabBar::tab {
  background-color: #255a7e;
  color: #d2d2d2;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 3px;
  padding: 5px 5px;
}
QTabBar::tab:selected {
  background-color: #1e2a88;
  border-bottom: 3px solid #6c757d;
}
QTabBar::tab:hover {
  background-color: #2b3d93;
}
QSplitter::handle {
  background-color: #1B5E20;
  height: 5px;
}
QTreeView {
  color: #d2d2d2;
}
QHeaderView::section {
  background-color: #263238;
  color: #d2d2d2;
  border-radius: 5px;
}
QMenuBar {
  color: #d2d2d2;
}
QMenuBar::item {
  background: transparent;
}
QMenuBar::item:selected {
  background: #4A148C;
}
QCheckBox {
  color: #d2d2d2;
}
QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:checked:hover {
  border: 1px solid #6c757d;
  border-radius: 5px;
}
QMessageBox {
  background-color: #1e1e1e;
}
QMessageBox QLabel {
  color: #d2d2d2;
}
QMessageBox QPushButton {
  background-color: #255a7e;
  color: #d2d2d2;
  border-radius: 5px;
  padding: 5px;
  border: none;
}
QMessageBox QPushButton:hover,
QMessageBox QPushButton:pressed {
  background-color: #263238;
}
QAbstractItemView {
  background-color: #161b22;
  color: #d2d2d2;
  border: 1px solid #263238;
  border-radius: 5px;
}
QAbstractItemView::item:hover {
  background-color: #006064;
  color: #d2d2d2;
}
QInputDialog {
    background-color: #1e1e1e;  /* Dark charcoal */
}

QInputDialog QLabel {
    color: #d2d2d2;  /* Light gray */
}

QInputDialog QComboBox {
    background-color: #263238;  /* Dark slate */
    color: #d2d2d2;  /* Light gray */
    border: 1px solid #1e1e1e;  /* Dark charcoal */
    border-radius: 5px;
    padding: 3px;
}

QInputDialog QComboBox:hover {
    background-color: #2F4F4F;  /* Dark slate blue */
    border: 1px solid #6c757d;  /* Medium gray */
}

QInputDialog QPushButton {
    background-color: #255a7e;  /* Steel blue */
    color: #d2d2d2;  /* Light gray */
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
    border: none;
}

QInputDialog QPushButton:hover {
    background-color: #2F4F4F;  /* Dark slate blue */
    border: 1px solid #6c757d;  /* Medium gray */
}
QDialog {
    background-color: #1e1e1e;  /* Dark charcoal */
}

QDialog QLabel {
    color: #d2d2d2;  /* Light gray */
}

QDialog QLineEdit {
    background-color: #161b22;  /* Deep charcoal */
    color: #d2d2d2;  /* Light gray */
    border: 1px solid #263238;  /* Dark slate */
    border-radius: 5px;
    padding: 3px;
}

QDialog QLineEdit:hover,
QDialog QLineEdit:focus {
    border: 1px solid #6c757d;  /* Medium gray */
}

QDialog QDialogButtonBox QPushButton {
    background-color: #255a7e;  /* Steel blue */
    color: #d2d2d2;  /* Light gray */
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
    border: none;
}

QDialog QDialogButtonBox QPushButton:hover {
    background-color: #2F4F4F;  /* Dark slate blue */
    border: 1px solid #6c757d;  /* Medium gray */
}