DocQA_GUI {
    background-color: #F0F0F0;
}

QWidget {
    border: 2px solid #E0E0E0;
    border: none;
}

QPushButton {
    background-color: #4D4D4D;
    color: #FFFFFF;
    font: 10pt "Segoe UI Historic";
    border-radius: 5px;
    padding: 5px;
    min-width: 60px;
}

QPushButton:hover {
    background-color: #333333;
    border: 1px solid #555;
    color: #FFFFFF;
}

QGroupBox {
    border: 2px solid #E0E0E0;
}

QLabel {
    color: #333333;
}

QComboBox {
    background-color: #4D4D4D;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

QComboBox QAbstractItemView {
    background-color: #4D4D4D;
    color: #FFFFFF;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #333333;
    color: #FFFFFF;
}

QLineEdit {
    background-color: #F0F0F0;
    color: #333333;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

QLineEdit::placeholder {
    color: #777777;
}

QGroupBox {
    color: #333333;
    font-size: 12pt;
    padding: 10px;
}

DownloadModelDialog {
    background-color: #F0F0F0;
}

QFrame {
    background-color: #F0F0F0;
}

QTextEdit[readOnly="true"] {
    background-color: #E0E0E0;
    color: #333333;
    font: 14pt "Segoe UI Historic";
    border: 1px solid #C0C0C0;
    selection-background-color: #555;
    selection-color: #FFFFFF;
}

QTextEdit[readOnly="false"] {
    background-color: #E0E0E0;
    color: #333333;
    font: 14pt "Segoe UI Historic";
    border: 1px solid #C0C0C0;
    selection-background-color: #555;
    selection-color: #FFFFFF;
}

QTabWidget {
    background-color: #F0F0F0;
    border: none;
}

QTabWidget, QTabWidget::pane {
    margin: 0px;
    padding: 0px;
    border: none;
}

QTabBar::tab {
    background-color: #777777;
    color: #FFFFFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 3px;
    padding: 5px 5px;
}

QTabBar::tab:selected {
    background-color: #555;
    border-bottom: 3px solid #038387;
}

QTabBar::tab:hover {
    background-color: #666;
}

QSplitter::handle {
    background-color: #E0E0E0;
    height: 5px;
}
