openai==0.28.0
langchain==0.0.341
chromadb==0.3.29
PyMuPDF==1.23.7
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
pandas==2.0.3
docx2txt==0.8
python-docx==1.1.0
msg-parser==1.2.0
xlrd==2.0.1
openpyxl==3.1.2
unstructured==0.10.12
nvidia-ml-py==12.535.108
psutil==5.9.5
PySide6==6.5.2
PyAudio==0.2.14
faster-whisper==0.10.0
termcolor==2.3.0
pypandoc==1.12
pydub==0.25.1
PyYAML==6.0.1